/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
:root { 
  --main-color: #161616;
  --second-color: #f6f6f6;
  --third-color: #777;
  --section-padding: 60px;
  --main-duration: 0.3s;

}

  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Work Sans", sans-serif;

  }

  .parent { 
    background-color: #eee;
  }

  .container { 
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  /* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  /* end global rules */

  /* start componant */
}
.special-heading { 
   font-size: 100px;
   font-weight: 800;
   text-align: center;
   margin: 0;
   color: #ebeced;
 }
.special-heading + p { 
   font-size: 24px;
   text-align: center;
   margin: -45px 0;
   color: var(--third-color);
 

 }
 @media (max-width: 767px) { 
   .special-heading { 
     font-size: 60px;
   }
   .special-heading + p {
     font-size: 15px;
     margin: -25px;
   }
 }
  /* end componant */

  /* start header */
  
.header .container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
}

.header .links { 
  position: relative;

}

.header { 
  padding: 0;
  margin: 0;
}

.header .logo { 
  width: 70px;

}

.header .container .icon { 
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* position: absolute; */
 
}


.header .container .icon span { 
  background-color: #111;
  margin-bottom: 5px;

}

.header .container .icon span:first-child {
  height: 3px;
  width: 100%;
}
.header .container .icon span:nth-child(2) {
  height: 3px;
  width: 50%;
  transition:var(--main-duration);
  -webkit-transition:var(--main-duration);
  -moz-transition:var(--main-duration);
  -ms-transition:var(--main-duration);
  -o-transition:var(--main-duration);
}
.header .container .icon span:last-child {
  height: 3px;
  width: 100%;
}

.header .container .links:hover  span:nth-child(2) { 
  width: 100%;

}


.header  .links ul {
  display: none;
  list-style: none;
  background-color: #eee;
  margin: 0;
  padding: 0;
  position: absolute;
  min-width: 200px;
  top: calc( 100% + 15px );
  right: 0px;
  transition: 0,3s;
  -webkit-transition: 0,3s;
  -moz-transition: 0,3s;
  -ms-transition: 0,3s;
  -o-transition: 0,3s;
  z-index: 1;
}

.header  .links ul::before { 
  content: "";
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  right: 15px;
  top: -29px;


}

.header .container .links a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #333;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}

.header .container .links a:hover { 
  padding-left: 30px;

}
/* .header .container .links li { 
  margin: 15px;

} */

.header .links ul li:not(:last-child) a { 
  border-bottom: 1px solid #333 ;

}

.header .links:hover ul {
  display: block;

}
/* end header */

/* start landing */
.landing { 
  background-image: url(../images/background3.jpg);
  background-size: cover;
  height: calc(100vh - 70px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50% ) ;
  -webkit-transform: translate(-50% , -50% ) ;
  -moz-transform: translate(-50% , -50% ) ;
  -ms-transform: translate(-50% , -50% ) ;
  -o-transform: translate(-50% , -50% ) ;
  text-align: center;
  max-width: 320px;
}

.landing .intro-text h1 {
  /*display: flex;
  justify-content: center;
  color: #333;
  padding: 10px;
  */
  margin: 0;
  color: var(--main-color);
  font-weight: 800;
  line-height: 1.8;

}

.landing .intro-text p { 
  color: var(--main-color);

}
/* end landing */

/* start features */

  .features { 
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--second-color);

  }

  .features .container { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;

  }

  .features .container .feat {
    padding: 20px;
    text-align: center;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .features .container .feat i { 
    font-size: 30px;
  }
  .features .container .feat h3 { 
    padding: 10px;
    text-align: center;
    font-weight: 800;

  }

  .features .container .feat p { 
    line-height: 1.8;
    color: #333;
    font-size: 17px;


  }
  /* @media (max-width:992px){
    .features .container .feat:last-child {
      width: 200%;
    }
    
  }
  @media (min-width: 768px) {
    .features .container .feat:last-child {
      width: 120%;
    }
  } */
/* end features */

/* start services */

  .services { 
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }

  .services-content { 
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

  }

  .services .services-content .srv { 
    display: flex;
    margin-bottom: 40px;

  }

  @media (max-width: 767px) { 
    .services .services-content .srv { 
      flex-direction: column;
      text-align: center;
    }

  }

  .services .services-content .srv i{ 
    color: #000000;
    flex-basis: 60px;
    font-size: 25px;

  }

  .services .services-content .srv .text {
    flex: 1;
  }
  .services .services-content .srv h3 {
    margin: 0 0 20px;
  }
  .services .services-content .srv p {
    color: var(--third-color);
    font-weight: 300;
    line-height: 1.6;
  }

  .services .services-content .image {
    text-align: center;
    position: relative;
  }
  .services .services-content .image img {
    width: 200px;
    z-index: 2;
  }
  .services .services-content .image::before{
    content: "";
    background-color: #e8e8e8;
    width: 100px;
    height: calc(100% + 100px); 
    position: absolute;
    top: -50px;
    right: 40px;
    z-index: -1;

  }

  
  @media (max-width: 1199px) { 
    .image-column { 
      display: none;
    }

  }
/* end services */

/* start portfolio */
  .portfolio { 
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--second-color);
  }

  .portfolio .portfolio-content { 
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

  }

  .portfolio .portfolio-content .card { 
    background-color: white;
    margin-bottom: 20px;
  }

  .portfolio .portfolio-content img { 
    max-width: 100%;;
  }

  .portfolio .portfolio-content .card .info {
    padding: 20px;

  }
  .portfolio .portfolio-content .card .info h3 {
    margin: 0; 
    /* padding-bottom: 20px; */

  }
  .portfolio .portfolio-content .card .info p {
    color: var(--third-color) ;
    line-height: 1.6;
    margin-bottom: 0;

  }


/* end portfolio */

/* start about */

  .about { 
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
 }

 .about .about-content { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 130px;
  
 }

 @media (max-width:991px) { 
  .about .about-content  { 
    flex-direction: column;
    text-align: center;
  }

 }

 .about .about-content .image { 
  position: relative;
  width: 250px;
  height: 375px;

 }

 @media (max-width:991px) { 
  .about .about-content .image { 
    margin: 0 auto 60px;

  }

 }

 .about .about-content .image img { 
  max-width: 100%;
 }
 .about .about-content .image::before { 
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: var(--second-color);
  top: -30px;
  left: -20px; 
  z-index: -1;
}
 .about .about-content .image::after { 
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--third-color);
  border-bottom: 80px solid var(--third-color);
  right: -150px;
  top: -30px;
  z-index: -1;
}

@media (max-width:991px) { 
  .about .about-content .image::before,
  .about .about-content .image::after { 
    display: none;
  }
}

.about .about-content .text {
  flex-basis: calc(100% - 500px);

}
.about .about-content p {
  font-size: 14px;
}

.about .about-content .text p:first-of-type {
  font-weight: 800;
  line-height: 2;
  margin-bottom: 50px;
  font-size:18px;
}

.about .about-content hr { 
  width: 50%;
  border-color: #7777;
  display: inline-block;
}

.about .about-content .text p:last-of-type {
  font-weight: 800;
  color: var(--third-color);
  line-height: 2;
  font-size: 14px;
}


/* end about */

/* start contact */
  .contact { 
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--second-color);
  }


.contact-content { 
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  
}

.contact-content h2 { 
  font-weight: 1000;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.contact-content a { 
  font-weight: 800;
  font-size: 1.8em;
  color: var(--third-color);
  text-decoration: none;
}
.contact-content p { 
  font-weight: 800;
  font-size: 1.2em;
  color: var(--third-color);
}

.contact-content i { 
  font-size: 1em;
  color: var(--main-color);
  margin-left: 10px;
}
@media (max-width:667px) { 
  .contact-content h2,
  .contact-content a { 
    font-size: 25px;
  }
}
@media (max-width:400px) { 
  .contact-content .social
   { 
    font-size: 14px;
  }
}
/* end contact */

/* start footer */
  .footer { 
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    /* background-color: var(--second-color); */
    text-align: center;
    font-size: 1.2em;
    color: var(--third-color);
  }

  .footer span { 
    color: var(--main-color);
    font-weight: bold;
  }

/* end footer */